<h2>Tag: <%= @tag.name %></h2>
-------------------------------------------------------------------------------------------------------------------------------------------------------
<h3>There are <%= @tag.posts.count %> posts in all. </h3>
<%= render 'posts/post_list', posts: @tag.posts %>